#app{
  /* display: flex; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --cell-dimension: 2em;
  box-sizing: border-box;
}

#board{
  /* border: 1px solid rgba(200, 200, 200, .5); */

  /* margin: 0 auto; */
  /* display: flex; */ 
}

.row{
  display: flex;
  /* flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; */
}

.cell{
  width: var(--cell-dimension);
  height: var(--cell-dimension);

  background: rgb(250, 250, 250);
  border: 1px solid rgba(220, 220, 220, .4);

  cursor: pointer;
  text-align: center;
  line-height: var(--cell-dimension);
}