#app{
  display: flex;

}

#board{
  /* border: 1px solid rgba(200, 200, 200, .5); */

  margin: 0 auto;
  display: flex;
}

.cell{
  width: 2em;
  height: 2em;
  background: rgb(250, 250, 250);
  border: 1px solid rgba(220, 220, 220, .4);
}